@using BOL;
@using System.Collections.Generic;
@{
    ViewData["Title"] = "Room Details Page";
    <head>
    <link rel="stylesheet" href="~/css/theme.css"/>
</head>
}
<div class="room-container" style="text-align:center">
<h1 class="p-4">Room Details</h1>
<table border="2" class="table table-sm">
    <th>ownerId</th>
    <th>RoomId</th>
    <th>PropertyName</th>
    <th>Floorno </th>
    <th>RoomStatus</th>
    <th>RoomRent</th>
    <th>RoomDeposit</th>
    <th>RoomFacilities</th>
    <th>RoomAddress</th>
    <th>Gender</th>
    <th>RoomType</th>
    <th>Edit </th>
    <th>Delete</th>
    @{
        List<RoomDetails> rlist=ViewData["rlist"] as List<RoomDetails>;
            foreach(RoomDetails r in rlist){
                <tr>
                    <td>@r.OwnerId</td>
                    <td>@r.RoomId</td>
                    <td>@r.PropertyName</td>
                    <td>@r.FloorNo</td>
                    <td>@r.RoomStatus</td>
                    <td>@r.RoomRent</td>
                    <td>@r.RoomDeposit</td>
                    <td>@r.RoomFacility</td>
                    <td>@r.RoomAddress</td>
                    <td>@r.Gender</td>
                    <td>@r.RoomType</td>
                    <td>@Html.ActionLink("Edit","UpdateRoomDetails",new {RoomId=r.RoomId},null)</td>
                    <td>@Html.ActionLink("Delete","DeleteRoom",new {RoomId=r.RoomId},null)</td>
                </tr>
            }
    }
</table>
<a href="/Admin/Index">
    <button class="btn btn-primary mt-4" >Back</button>
</a>
</div>
