@using BOL;
@{
    ViewData["Title"] = "RegisterCustomer Page";
    <head>
         <link rel="stylesheet" href="~/css/theme.css"/>
        </head>
}
<div class="bg-container">
  <h1 class="p-4">Update Customer Details</h1>
<form action="UpdateCustomer" method="Post">
  @{
      Customer customer=ViewData["Customer"] as Customer;
  }
  <div class="Box p-5">
  <div class="form-group row">
    <label for="id1" class="col-sm-2 col-form-label" style="font-weight:bold;font-size:20px;"></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="id1" name="id1" value="@customer.CustomerId" hidden>
    </div>
  </div><br>
    <div class="form-group row">
    <label for="cname" class="col-sm-2 col-form-label" style="font-weight:bold;font-size:20px;">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="cname" name="cname" value="@customer.CustomerName">
    </div>
  </div><br>
  <div class="form-group row">
    <label for="contactNo" class="col-sm-2 col-form-label" style="font-weight:bold;font-size:20px;" >Contact Details</label>
    <div class="col-sm-10">
      <input type="tel" class="form-control" id="contactNo" name="contactNo" pattern="[7-9]{1}[0-9]{9}" value="@customer.CustomerContactNo">
    </div>
    </div><br>
    <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label" style="font-weight:bold;font-size:20px;">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" name="email" value="@customer.CustomerEmail">
    </div>
    </div><br>
  <div class="form-group row">
    <label for="password" class="col-sm-2 col-form-label" style="font-weight:bold;font-size:20px;">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="password" name="password" value="@customer.CustomerPassword">
    </div>
  </div><br>

  <div class="form-group row">
    <div class="col-sm-10">
      <button style="text-align:center" type="submit" class="btn btn-primary">Update</button>
    </div>
  </div>
</form>

</div>