@using BOL;
@using System.Collections.Generic;
@{
    ViewData["Title"] = "Owner Details Page";
}

<div class="bg-container">
<h1 class="p-5">Owner Details</h1>
<table border="2" class="table table-sm">
    <th>Owner Id</th>
    <th>Owner Name</th>
    <th>Owner Contact Number</th>
    <th>Owner Email</th>
    <th>Edit</th>
    <th>Delete</th>
    @{
        List<Owner> olist=ViewData["olist"] as List<Owner>;
            foreach(Owner o in olist){
                <tr>
                    <td>@o.OwnerId</td>
                    <td>@o.OwnerName</td>
                    <td>@o.OwnerContactNo</td>
                    <td>@o.OwnerEmail</td>
                    <td>@Html.ActionLink("Edit","UpdateOwner",new {OwnerId=o.OwnerId},null)</td>
                    <td>@Html.ActionLink("Delete","DeleteOwner",new {OwnerId=o.OwnerId},null)</td>
                </tr>
            }
    }
</table>
<br>
<a href="/Admin/Index">
    <button class="btn btn-primary">Back</button>
</a>
</div>
